<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Sign Up</title>
  </head>
  <body style="margin: 0">
    <div style="display: flex; height: auto; flex-direction: row; gap: 150px">
      <div
        style="
          display: flex;
          width: 419px;
          justify-content: center;
          background: linear-gradient(to bottom, #80a9bc, #2f8eba, #ced031);
          border-bottom-right-radius: 25px;
          border-top-right-radius: 25px;
        "
      >
        <img
          src="Core Path 2 1.png"
          alt="Core Path"
          style="width: 153px; height: fit-content; align-self: center"
        />
      </div>
      <div style="margin-top: 100px">
        <h1 style="color: #1d5671; justify-self: center">Sign In</h1>
        <form
          action=""
          style="
            display: flex;
            flex-direction: row;
            background: rgb(230, 230, 230);
            width: max-content;
            margin: 5px;
            padding: 20px;
            padding-bottom: 305px;
            justify-self: center;
            justify-content: center;
            border-radius: 25px;
            gap: 100px;
          "
        >
          <div style="display: flex; flex-direction: column; margin: 1px">
            <label for="name" style="margin-bottom: 5px; color: #1d5671"
              >Nama</label
            >
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Nama Lengkap"
              style="
                width: 250px;
                height: 25px;
                margin-bottom: 25px;
                border: 1px solid #80a9bc;
                border-radius: 5px;
              "
            />
            <label for="tanggalLahir" style="margin-bottom: 5px; color: #1d5671"
              >Tanggal Lahir</label
            >
            <input
              type="date"
              name="tanggalLahir"
              id="tanggalLahir"
              style="
                height: 25px;
                margin-bottom: 25px;
                border: 1px solid #80a9bc;
                border-radius: 5px;
              "
            />
            <label for="jenisKelamin" style="margin-bottom: 5px; color: #1d5671"
              >Jenis Kelamin</label
            >
            <select
              name="jenisKelamin"
              id="jenisKelamin"
              style="
                height: 25px;
                margin-bottom: 25px;
                border: 1px solid #80a9bc;
                border-radius: 5px;
              "
            >
              <option value="laki-laki">Laki-laki</option>
              <option value="perempuan">Perempuan</option>
            </select>
            <label for="alamat" style="margin-bottom: 5px; color: #1d5671"
              >Alamat</label
            >
            <input
              name="alamat"
              id="alamat"
              style="
                height: 25px;
                margin-bottom: 25px;
                border: 1px solid #80a9bc;
                border-radius: 5px;
              "
            />
          </div>
          <div style="display: flex; flex-direction: column; margin: 1px">
            <label for="email" style="margin-bottom: 5px; color: #1d5671"
              >Email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              style="
                width: 250px;
                height: 25px;
                margin-bottom: 25px;
                border: 1px solid #80a9bc;
                border-radius: 5px;
              "
            />
            <label for="password" style="margin-bottom: 5px; color: #1d5671"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              style="
                height: 25px;
                margin-bottom: 25px;
                border: 1px solid #80a9bc;
                border-radius: 5px;
              "
              required
            />
            <button
              style="
                width: fit-content;
                height: 30px;
                margin-top: 15px;
                padding-left: 30px;
                padding-right: 30px;
                background: #1e5d80;
                color: white;
                border: 0px;
                border-radius: 1000px;
              "
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
